// 样式覆盖
.menu
  text-align right


// common
.flex-wrapper
  display flex
  justify-content left
  align-items top


.text-center
  text-align center

// 形状-倾斜
.angled-135
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 1) 25%, transparent 25%,
  transparent 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 75%,
  transparent 75%, transparent);

// 形状-正方形
.checkered
  background-image linear-gradient(45deg, #555 25%, transparent 25%, transparent),
  linear-gradient(-45deg, #555 25%, transparent 25%, transparent),
  linear-gradient(45deg, transparent 75%, #555 75%),
  linear-gradient(-45deg, transparent 75%, #555 75%);

// page-resume style
$font-size = 16px

#page-resume
  position relative
  font-size $font-size
  padding-top $font-size*2  // padding-top = font-size * 2.5
  background rgba(255,255,255,0.2)

  .character
    font-size 0.8em
    color #999

.resume-header
  position absolute
  top 0
  left 0
  right 0
  height 2em
  line-height  2em
  color #cccccc
  padding 0 1em
  background-color #3d3737;
  background-image url("../resume/patterns/black-orchid.png")


// 左侧栏用户信息
.resume-info
  height 100%
  box-sizing border-box
  color #333
  padding 3em 0
  margin 0 1em
  background-color #ffffff;
  background-image url("../resume/patterns/light-mesh.png")
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  .name
    font-size 1.5em
    text-align center
  .job
    font-size 0.9em
    text-align center
  .more
    margin-top 2em
    p
      font-size 0.9em
      text-align center
      margin-bottom 0.7em

ul.education-info
  list-style: none;
  margin-top 6em
  padding: 0;
  text-align: center;
  .hart
    position relative
    color #ffffff
    height 2.5em
    margin-left -0.8em
    line-height 2.5em
    margin-bottom 1.5em
    background-color: #3d3737;
    background-image: url("../resume/patterns/black-orchid.png")
    &:before
      content "◥"
      position absolute
      line-height 1em
      top 2.5em
      left 0
      color #000
  li
    font-size 0.8em


.resume-experience
  height 100%
  box-sizing border-box
  padding 3em 0
  margin 0 1em

//标题头部
.Re-title
  display inline-block
  color #fff
  fill #fff
  line-height 2em
  padding 0 1em
  background-color: #333
  background-image: url("https://www.transparenttextures.com/patterns/dark-denim.png")
  overflow hidden
  &:not(:first-child)
    margin-top 3em
  span
    position relative
    font-size 1em
    padding-right 2em
    &::after
      position absolute
      top 0
      right 0
      content '/'
      display inline-block
      color #fff
      font-size 4em
      backgoround #fff
  svg
    width 1em




$primary-color = #999


/*==================================
    TIMELINE
==================================*/


/*-- GENERAL STYLES
------------------------------*/
.timeline
  line-height 1.4em
  list-style none
  margin 0
  padding 0
  width 100%
  color #768390
  font-size 0.9em
  font-family "Effra", Helvetica, sans-serif
  -webkit-font-smoothing antialiased
  h1, h2, h3, h4, h5, h6
    line-height inherit
    color #3d4351
    margin-top 0
    padding-top 0



/*----- TIMELINE ITEM -----*/

.timeline-item
  padding-left 2em
  position relative
  &:last-child
    padding-bottom 0


/*----- TIMELINE INFO -----*/

.timeline-info
  display flex
  .timeline-title
    font-size 1.2em
    flex 1
  span
    font-weight 700
    letter-spacing 0.2em
    text-transform uppercase
    white-space nowrap
    font-size 0.75em


/*----- TIMELINE MARKER -----*/

.timeline-marker
  position absolute
  top 0
  bottom 0
  left 0
  width 0.6em
  &:before
    background $primary-color
    border 0.2em solid transparent
    border-radius 100%
    content ""
    display block
    height 0.5em
    position absolute
    top 0
    left 0
    width 0.5em
    transition background 0.3s ease-in-out, border 0.3s ease-in-out

  &:after
    content ""
    width 0.2em
    background #CCD5DB
    display block
    position absolute
    top 1em
    bottom 0
    left 0.36em

.timeline-item:last-child &:after
  content none
.timeline-item:not(.period):hover .timeline-marker:before
  background transparent
  border 0.2em solid $primary-color

/*----- TIMELINE CONTENT -----*/

.timeline-content
  padding-bottom 1em
  p
    margin 0 0 0.5em
  code
    padding 0.2em 0.6em
    background #eee
    font-size 0.8em
    font-weight bold
    border-radius 0.2em
  p:last-child
    margin-bottom 0
  label
    padding 0.2em 0.6em
    margin 0 0.2em
    background #eee
    color #333
    font-weight bold
    border-radius 0.4em
    font-size 0.8em
    &[color=warn]
      color #a74c00
    &[color=success]
      color #0054a0


/*----- TIMELINE PERIOD -----*/

.period
  padding 0
  .timeline-info
    display none
  .timeline-marker
    &:before
      background transparent
      content ""
      width 1em
      height auto
      border none
      border-radius 0
      top 0
      bottom 2em
      position absolute
      border-bottom 0.2em solid #CCD5DB
    &:after
      content ""
      height 1em
      top auto

  .timeline-content
    display flex
    padding 1em 0 1em
    span
      font-size 1em
  .timeline-title
    margin 0
    flex 1










