// 样式覆盖
.menu
  text-align right


// common
.flex-wrapper
  display flex
  justify-content left
  align-items top
  .flex-item
    padding: 0.4em 1em

.text-center
  text-align center

// 形状-倾斜
.angled-135
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 1) 25%, transparent 25%,
  transparent 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 75%,
  transparent 75%, transparent);

// 形状-正方形
.checkered
  background-image linear-gradient(45deg, #555 25%, transparent 25%, transparent),
  linear-gradient(-45deg, #555 25%, transparent 25%, transparent),
  linear-gradient(45deg, transparent 75%, #555 75%),
  linear-gradient(-45deg, transparent 75%, #555 75%);

// page-resume style
#page-resume
  position relative
  padding 2em 1em 0 1em
  font-size 0.6em
  background rgba(255,255,255,0.2)

  .resume-header
    position absolute
    top 0
    left 0
    right 0
    font-size 1.5em
    color #cccccc
    padding 0 1em
    background-color: #3d3737;
    background-image: url("https://www.transparenttextures.com/patterns/black-orchid.png");

  .resume-info
    height 100%
    box-sizing border-box
    color #333
    padding: 6em 0
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/light-mesh.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    .name
      font-size 24px
      text-align center
    .job
      font-size 14px
      text-align center
    .more
      margin-top 30px
      p
        font-size 14px
        text-align center
        margin-bottom 10px
    ul.education-info
      list-style: none;
      margin-top 40px
      padding: 0;
      text-align: center;
      li
        line-height 3em
      .hart
        position relative
        color #ffffff
        height 3em
        line-height 3em
        margin-left -12px
        margin-bottom 20px
        background-color #333333
        background-size 1px 1px
        &:before
          content "◥"
          position absolute
          bottom -20px
          left 0
          font-size 12px
          color #2f2f2f




  hr
    margin-top 0

  h3, h4, h5
    &:after
      content ''
      display block
      clear both

    span:first-child
      float left

    span:last-child
      float right

